@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="title">Sistema de cadastro</h3>
    <p style="font-size: 18px !important; color: #593196 !important;">
        Feito no curso
        de programação orientada a objetos. Prof: Nélio Alves
    </p>

</div>
